.task_card {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 1px
}

.task_card_bottom_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.task_delete {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover {
    background-color: #ebebeb;
}

.delete_icon {
    width: 20px;
}