.drop-area {
    width: 100px;
    height: 100px;
    border: 1px dashed #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: 1;
}

.hide-drop {
    opacity: 0;
}